<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <form action="/submit" method="POST">
      <div class="form-group">
        <input
          type="text"
          class="form-control text-center"
          name="secret"
          placeholder="What's your secret?"
        />
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
<%- include('partials/footer') %>
